<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanyu.sky.sys.dao.DataScopeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yanyu.sky.sys.bean.po.DataScope">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="dept_id" property="deptId" />
    </resultMap>

<!--    listDeptByRole-->
    <select id ="listDataScope" resultType="com.yanyu.sky.sys.bean.po.Dept">
        select sd.*
        from sys_datascope sds
        join sys_dept sd
        on sds.dept_id = sd.id
        where sd.is_del = '0' and sds.role_id = #{roleId}
    </select>
</mapper>
